<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a id="index" class="navbar-brand" href="">Rate Your Teacher</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="ml-auto">
                <button id="top" type="button" class="btn btn-info">TOP</button>
                </ul>
            </div>

    </nav>
</header>